<!DOCTYPE html>
<html>
<head>
    <title>ログイン画面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <Form method="post">
        <div>
            <div><a>e-mail</a>><input id="email" type="text" /></div>
            <div><a>passward</a><input id="passward" type="text" /></div>
            <input type="submit" />
        </div>
    </Form>
</body>
</html>